
.euiButtonGroup__fieldset {
  display: inline-block;
  max-width: 100%;

  &--fullWidth {
    display: block;
  }
}

.euiButtonGroup {
  @include euiSlightShadow;
  max-width: 100%;
  display: flex;
  border: 1px solid $euiButtonToggleBorderColor;
  border-radius: $euiBorderRadius; // Needed for box-shadow be rounded
}

.euiButtonGroup__button {
  // Offset the background color from the border by 2px
  // by clipping background to before the padding starts
  padding: 1px;
  background-clip: content-box;
  // Increase border-radius because of background-clip
  border-radius: $euiBorderRadius + 1px;

  // Override styling for all states and all variations
  // sass-lint:disable-block no-important
  border-color: transparent !important;
  transition: none !important;
  transform: none !important;
  animation: none !important;
  box-shadow: none !important;

  &:focus {
    outline: 2px solid $euiFocusRingColor;
  }
}

.euiButtonGroup__button--iconOnly {
  min-width: 0;

  .euiButton__content {
    flex-direction: column;
    padding: 0 $euiSizeS;
    justify-content: center;
  }
}

.euiButtonGroup--fullWidth {
  .euiButtonGroup__button {
    flex: 1;
  }
}

.euiButtonGroup--compressed {
  border-color: $euiFormBorderColor;
  border-radius: $euiFormControlCompressedBorderRadius;
  background-color: $euiFormBackgroundColor;
  box-shadow: none;

  .euiButtonGroup__button {
    border-radius: $euiBorderRadius;
    font-size: $euiFontSizeS;
    height: $euiFormControlCompressedHeight - 2px;
    min-width: 0;

    &:hover,
    &:focus,
    &--selected {
      background-color: $euiFormInputGroupLabelBackground;
    }

    &--selected {
      font-weight: $euiFontWeightSemiBold;
    }
  }

  // Compressed button groups are for use with forms,
  // so when using the `text` color variant, change the colors
  // to match that of forms
  &.euiButtonGroup--text .euiButtonGroup__button {
    &:not(.euiButtonGroup__button--selected):not(.euiButton--disabled) {
      color: $euiColorDarkShade;
    }
  }
}

// Force `fullWidth` style on small screens
@include euiBreakpoint('xs', 's') {
  .euiButtonGroup__fieldset {
    display: block;
  }

  .euiButtonGroup__button {
    flex: 1;
    min-width: 0;
  }
}

